@import url("https://fonts.googleapis.com/css2?family=Parisienne&family=Six+Caps&display=swap");

.navbar {
  background-color: white;
  box-shadow: 0 0 1 0.5;
}
.logo {
  display: flex;
  align-items: center;
}

.title {
  font-family: "Six Caps";
  letter-spacing: 10px;
}

.primary-button {
  color: #65c9ff;
}

.image {
  margin: 10px;
}
